// --------- Themed elements ---------

.themed-img-container {
    position: relative;
    display: block;
    overflow: hidden;
}

.themed-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.2s ease;
}

// Default to dark theme
.themed-img--light {
    opacity: 0;
}

.themed-img--dark {
    opacity: 1;
}

// In light theme, show light and hide dark
[data-theme="light"] .themed-img--light {
    opacity: 1;
}

[data-theme="light"] .themed-img--dark {
    opacity: 0;
}

.themed-inline {
    display: none;
}

// Default to dark theme icon
.themed-inline.dark {
    display: inline;
}

// In light theme, show light and hide dark icon
[data-theme="light"] .themed-inline.light {
    display: inline;
}

[data-theme="light"] .themed-inline.dark {
    display: none;
}
